@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
}

circle {
  stroke: #676bc4 !important;
}

.ant-modal-content {
  border-radius: 1rem !important;
}
