@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
}

circle {
  stroke: #676bc4 !important;
}

.ant-modal-content {
  border-radius: 1rem !important;
}

/* hide scrollbar but allow scrolling */
.hide-scroll {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.hide-scroll::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.h-85vh-to-73vh {
  height: 85vh;
}

.hover-circle:hover {
  border-radius: 100% !important;
}

@media only screen and (min-width: 992px) {
  .h-85vh-to-73vh {
    height: 73vh !important;
  }
}
